:root {
  --nhsuk-spacing-0: 0;
  --nhsuk-spacing-1: 0.25rem;
  --nhsuk-spacing-2: 0.5rem;
  --nhsuk-spacing-3: 1rem;
  --nhsuk-spacing-4: 1.5rem;
  --nhsuk-spacing-5: 2rem;
  --nhsuk-spacing-6: 2.5rem;
  --nhsuk-spacing-7: 4rem;
}
