:root {
  --nhsuk-font-family: "Frutiger W01", Arial, sans-serif;

  --nhsuk-font-size-14: 0.875rem;
  --nhsuk-font-size-16: 1rem;
  --nhsuk-font-size-19: 1.1875rem;
  --nhsuk-font-size-22: 1.375rem;
  --nhsuk-font-size-26: 1.625rem;
  --nhsuk-font-size-32: 2rem;
  --nhsuk-font-size-48: 3rem;
  --nhsuk-font-size-64: 4rem;

  --nhsuk-font-weight-normal: 400;
  --nhsuk-font-weight-bold: 600;

  --nhsuk-line-height-body: 1.5;
  --nhsuk-line-height-heading: 1.25;
}
