.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--nhsuk-pale-grey);
  color: var(--nhsuk-dark-grey);
  font-size: var(--nhsuk-font-size-16);
  font-weight: var(--nhsuk-font-weight-bold);
  overflow: hidden;
  flex-shrink: 0;
}
