.avatar-group {
  display: inline-flex;
  align-items: center;
}

.avatar-group .avatar {
  border: 2px solid var(--nhsuk-white);
  margin-left: -0.5rem;
}

.avatar-group .avatar:first-child {
  margin-left: 0;
}
