.breadcrumb-nav {
  background: var(--nhsuk-pale-grey);
  padding: var(--nhsuk-spacing-2) 0;
  margin-bottom: var(--nhsuk-spacing-4);
}

.breadcrumb-nav > .breadcrumb-list {
  margin-left: var(--nhsuk-spacing-3);
  margin-right: var(--nhsuk-spacing-3);
}

@media (min-width: 769px) {
  .breadcrumb-nav > .breadcrumb-list {
    margin-left: var(--nhsuk-spacing-5);
    margin-right: var(--nhsuk-spacing-5);
  }
}
