.checkbox-input {
  accent-color: var(--nhsuk-blue);
  transform: scale(1.5);
  transform-origin: center;
  cursor: pointer;
  margin-right: var(--nhsuk-spacing-2);
  vertical-align: middle;
}

.checkbox-input[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.checkbox-input + .label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: var(--nhsuk-font-weight-normal);
  cursor: pointer;
  vertical-align: middle;
}

.checkbox-input[disabled] + .label {
  color: var(--nhsuk-dark-grey);
  cursor: not-allowed;
}
