.color-input {
  width: 3rem;
  height: 2.5rem;
  padding: 2px;
  border: 2px solid var(--nhsuk-black);
  background: var(--nhsuk-white);
  cursor: pointer;
}

.color-input[aria-invalid="true"] { border-color: var(--nhsuk-red); }

.color-input[disabled] { cursor: not-allowed; opacity: 0.5; }
