.data-table-th {
  text-align: left;
  padding: var(--nhsuk-spacing-2) var(--nhsuk-spacing-3) var(--nhsuk-spacing-2) 0;
  color: var(--nhsuk-black);
  font-weight: var(--nhsuk-font-weight-bold);
  vertical-align: top;
}

.table-col-numeric,
.data-table-th[class*="-numeric"] {
  text-align: right;
  padding-left: var(--nhsuk-spacing-3);
  padding-right: 0;
}
