.error-summary {
  padding: var(--nhsuk-spacing-3) var(--nhsuk-spacing-4);
  border: 4px solid var(--nhsuk-red);
  margin-bottom: var(--nhsuk-spacing-5);
  background: var(--nhsuk-white);
}

.error-summary-title {
  margin: 0 0 var(--nhsuk-spacing-3) 0;
  color: var(--nhsuk-red);
  font-size: var(--nhsuk-font-size-26);
}

.error-summary-body p {
  margin: 0 0 var(--nhsuk-spacing-3) 0;
}

.error-summary-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error-summary-list li {
  margin-bottom: var(--nhsuk-spacing-2);
}

.error-summary-list a {
  color: var(--nhsuk-red);
  font-weight: var(--nhsuk-font-weight-bold);
  text-decoration-thickness: 2px;
}

.error-summary-list a:hover {
  text-decoration-thickness: 4px;
}
