.listbox {
  list-style: none;
  margin: 0;
  padding: var(--nhsuk-spacing-1) 0;
  background: var(--nhsuk-white);
  border: 1px solid var(--nhsuk-mid-grey);
  border-radius: 4px;
  max-height: 14rem;
  overflow-y: auto;
  min-width: 12rem;
  display: inline-block;
}
