.measurement-system-input {
  padding: var(--nhsuk-spacing-1) var(--nhsuk-spacing-2);
  border: 2px solid var(--nhsuk-black);
  border-radius: 3px;
  font-family: var(--nhsuk-font-family);
  font-size: var(--nhsuk-font-size-19);
}
