.measurement-instance-input {
  display: inline-flex;
  gap: var(--nhsuk-spacing-1);
  align-items: baseline;
}

.measurement-instance-input-value {
  padding: var(--nhsuk-spacing-1);
  border: 2px solid var(--nhsuk-black);
  border-radius: 3px;
  font-family: var(--nhsuk-font-family);
  font-size: var(--nhsuk-font-size-19);
  width: 7rem;
}

.measurement-instance-input-unit {
  padding: var(--nhsuk-spacing-1);
  border: 2px solid var(--nhsuk-black);
  border-radius: 3px;
  font-family: var(--nhsuk-font-family);
  font-size: var(--nhsuk-font-size-19);
  background: var(--nhsuk-white);
}
