.medical-banner-box {
  padding: var(--nhsuk-spacing-1) 0;
  font-size: var(--nhsuk-font-size-16);
}

.medical-banner-box > :first-child { margin-top: 0; }
.medical-banner-box > :last-child { margin-bottom: 0; }
