.tel-link {
  color: var(--nhsuk-bright-blue);
  text-decoration-thickness: 1px;
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}

.tel-link:hover {
  color: var(--nhsuk-dark-blue);
  text-decoration-thickness: 3px;
}
