.theme-select {
  padding: var(--nhsuk-spacing-1) var(--nhsuk-spacing-2);
  font-family: var(--nhsuk-font-family);
  font-size: var(--nhsuk-font-size-19);
  border: 2px solid var(--nhsuk-mid-grey);
  border-radius: 3px;
  background: var(--nhsuk-white);
  min-width: 10rem;
}

.theme-select:disabled {
  background: var(--nhsuk-pale-grey);
  cursor: not-allowed;
}
