.united-states-social-security-number-view {
  font-family: var(--nhsuk-font-family);
  font-size: var(--nhsuk-font-size-22);
  font-variant-numeric: tabular-nums;
  font-weight: var(--nhsuk-font-weight-bold);
  letter-spacing: 0.05em;
  color: var(--nhsuk-black);
}
