---
layout: layouts/component-demo.njk
title: AddressInput
description: an input for searching or manually entering an address
---

{% from "components/address-input/macro.njk" import addressInput %}

<h2>Default</h2>
{{ addressInput({ text: "Example AddressInput content" }) }}

<h2>With accessible label</h2>
{{ addressInput({ text: "Example content", label: "AddressInput example" }) }}
