---
layout: layouts/component-demo.njk
title: AnnouncementBanner
description: a banner highlighting important messages for all users
---

{% from "components/announcement-banner/macro.njk" import announcementBanner %}

<h2>Default</h2>
{{ announcementBanner({ text: "Example AnnouncementBanner content" }) }}

<h2>With accessible label</h2>
{{ announcementBanner({ text: "Example content", label: "AnnouncementBanner example" }) }}
