---
layout: layouts/component-demo.njk
title: AotearoaNationalHealthIndexInput
description: an input for entering New Zealand's National Health Index (NHI) Number
---

{% from "components/aotearoa-national-health-index-input/macro.njk" import aotearoaNationalHealthIndexInput %}

<h2>Default</h2>
<p>{{ aotearoaNationalHealthIndexInput({ text: "AotearoaNationalHealthIndexInput example", label: "AotearoaNationalHealthIndexInput example" }) }}</p>
