---
layout: layouts/component-demo.njk
title: ArgentinaCodigoUnicoDeIdentificacionLaboralInput
description: an input for entering Argentina's Codigo Unico de Identificacion Laboral (CUIL)
---

{% from "components/argentina-codigo-unico-de-identificacion-laboral-input/macro.njk" import argentinaCodigoUnicoDeIdentificacionLaboralInput %}

<h2>Default</h2>
<p>{{ argentinaCodigoUnicoDeIdentificacionLaboralInput({ text: "ArgentinaCodigoUnicoDeIdentificacionLaboralInput example", label: "ArgentinaCodigoUnicoDeIdentificacionLaboralInput example" }) }}</p>
