---
layout: layouts/component-demo.njk
title: ArgentinaCodigoUnicoDeIdentificacionLaboralView
description: a read-only display of Argentina's Codigo Unico de Identificacion Laboral (CUIL)
---

{% from "components/argentina-codigo-unico-de-identificacion-laboral-view/macro.njk" import argentinaCodigoUnicoDeIdentificacionLaboralView %}

<h2>Default</h2>
<p>{{ argentinaCodigoUnicoDeIdentificacionLaboralView({ text: "ArgentinaCodigoUnicoDeIdentificacionLaboralView example", label: "ArgentinaCodigoUnicoDeIdentificacionLaboralView example" }) }}</p>
