---
layout: layouts/component-demo.njk
title: Banner Box
description: a banner box inside a banner component, using flexbox horizontal layout
---

<p>BannerBox is a flexbox-aligned cell inside a
  <a href="/components/banner/"><code>Banner</code></a>. See the
  <a href="/components/banner/">Banner demo</a> for composed
  examples.</p>
