---
layout: layouts/component-demo.njk
title: BarChart
description: a horizontal bar chart visualization for displaying data
---

{% from "components/bar-chart/macro.njk" import barChart %}

<h2>Default</h2>
{{ barChart({ text: "Example BarChart content" }) }}

<h2>With accessible label</h2>
{{ barChart({ text: "Example content", label: "BarChart example" }) }}
