---
layout: layouts/component-demo.njk
title: BharatAadhaarView
description: a read-only display of India's Aadhaar number
---

{% from "components/bharat-aadhaar-view/macro.njk" import bharatAadhaarView %}

<h2>Default</h2>
<p>{{ bharatAadhaarView({ text: "BharatAadhaarView example", label: "BharatAadhaarView example" }) }}</p>
