---
layout: layouts/component-demo.njk
title: BrasilCartaoNacionalDeSaudeInput
description: an input for entering Brazil's Cartao Nacional de Saude (CNS)
---

{% from "components/brasil-cartao-nacional-de-saude-input/macro.njk" import brasilCartaoNacionalDeSaudeInput %}

<h2>Default</h2>
<p>{{ brasilCartaoNacionalDeSaudeInput({ text: "BrasilCartaoNacionalDeSaudeInput example", label: "BrasilCartaoNacionalDeSaudeInput example" }) }}</p>
