---
layout: layouts/component-demo.njk
title: Comment
description: a comment is anything that expresses an opinion, observation, explanation, etc.
---

{% from "components/comment/macro.njk" import comment %}

{{ comment({
  text: "Thanks for the detailed information — this really helps."
}) }}
