---
title: Container
slug: container
component: Container
description: a generic block-level content container
layout: layouts/component-demo.njk
---

{% from "components/container/macro.njk" import container %}

<h2>Default</h2>
<div class="container"><p>Container holds arbitrary block-level content.</p></div>
