---
layout: layouts/component-demo.njk
title: Data Table Head
description: a data table interactive grid head <thead>
---

<p>A <code>dataTableHead</code> is one part of a
  <a href="/components/data-table/"><code>dataTable</code></a>.
  It maps to the native HTML <code>&lt;thead&gt;</code>
  element. See the <a href="/components/data-table/">Data Table
  demo</a> for composed examples.</p>
