---
layout: layouts/component-demo.njk
title: Data Table Data
description: a data table interactive grid data cell <td>
---

<p>A <code>dataTableTd</code> is one part of a
  <a href="/components/data-table/"><code>dataTable</code></a>.
  It maps to the native HTML <code>&lt;td&gt;</code>
  element. See the <a href="/components/data-table/">Data Table
  demo</a> for composed examples.</p>
