---
layout: layouts/component-demo.njk
title: DescriptionListItem
description: one key-value pair in a description list
---

{% from "components/description-list-item/macro.njk" import descriptionListItem %}

<h2>Default</h2>
{{ descriptionListItem({ text: "Example DescriptionListItem content" }) }}

<h2>With accessible label</h2>
{{ descriptionListItem({ text: "Example content", label: "DescriptionListItem example" }) }}
