---
layout: layouts/component-demo.njk
title: DescriptionList
description: a definition list displaying information in key-value format
---

{% from "components/description-list/macro.njk" import descriptionList %}

<h2>Default</h2>
{{ descriptionList({ text: "Example DescriptionList content" }) }}

<h2>With accessible label</h2>
{{ descriptionList({ text: "Example content", label: "DescriptionList example" }) }}
