---
layout: layouts/component-demo.njk
title: Don't List
description: a guideline list of discouraged dont-list-item components
---

<p>See the <a href="/components/do-list/">Do and Don't lists</a>
  demo for the paired pattern, including the red-cross styling on
  each <code>DontListItem</code>.</p>
