---
layout: layouts/component-demo.njk
title: Don't List Item
description: a discouraged-practice item in a dont-list guideline list
---

<p>The <code>DontListItem</code> is one tip inside a
  <a href="/components/do-list/"><code>DontList</code></a>. It
  renders an <code>&lt;li&gt;</code>; the example CSS adds a red
  cross via a <code>::before</code> pseudo-element.</p>
