---
title: Framer
slug: framer
component: Framer
description: a container for framed content display with decorative border
layout: layouts/component-demo.njk
---

{% from "components/framer/macro.njk" import framer %}

<h2>Default</h2>
{{ framer({ label: "Example" }) }}
