---
layout: layouts/component-demo.njk
title: Gantt Table Body
description: a gantt table interactive grid body <tbody>
---

<p>A <code>ganttTableBody</code> is one part of a
  <a href="/components/gantt-table/"><code>ganttTable</code></a>.
  It maps to the native HTML <code>&lt;tbody&gt;</code>
  element. See the <a href="/components/gantt-table/">Gantt Table
  demo</a> for composed examples.</p>
