---
title: GoToNextSection
slug: go-to-next-section
component: GoToNextSection
description: a link that takes users to the next section of the current page
layout: layouts/component-demo.njk
---

{% from "components/go-to-next-section/macro.njk" import goToNextSection %}

<h2>Default</h2>
<a class="go-to-next-section" href="#section-3" aria-label="Next section: Implementation">Next: Implementation →</a>
