---
layout: layouts/component-demo.njk
title: GoToTop
description: a link that returns users to the top of a long page
---

{% from "components/go-to-top/macro.njk" import backToTop %}

<h2>Default</h2>
{{ backToTop({ text: "Example GoToTop content" }) }}

<h2>With accessible label</h2>
{{ backToTop({ text: "Example content", label: "GoToTop example" }) }}
