---
title: GoToPreviousSection
slug: go-to-previous-section
component: GoToPreviousSection
description: a link that takes users to the previous section of the current page
layout: layouts/component-demo.njk
---

{% from "components/go-to-previous-section/macro.njk" import goToPreviousSection %}

<h2>Default</h2>
<a class="go-to-previous-section" href="#section-1" aria-label="Previous section: Introduction">← Previous: Introduction</a>
