---
layout: layouts/component-demo.njk
title: Grail Layout Bottom Footer
description: full-width bottom-footer region of a grail layout
---

<p>The bottom footer is a <code>&lt;footer&gt;</code> element
  occupying the full-width bottom row of a
  <a href="/components/grail-layout/"><code>GrailLayout</code></a>.
  See the <a href="/components/grail-layout/">composed demo</a>.</p>
