---
layout: layouts/component-demo.njk
title: Grail Layout Right Aside
description: right sidebar region of a grail layout
---

<p>The right aside is an <code>&lt;aside&gt;</code> element on the
  right of a
  <a href="/components/grail-layout/"><code>GrailLayout</code></a>,
  typically holding related content or a table of contents. Set
  <code>params.label</code> so assistive tech can distinguish it
  from the left aside. See the
  <a href="/components/grail-layout/">composed demo</a>.</p>
