---
layout: layouts/component-demo.njk
title: HangukJuminDeungnokBeonhoInput
description: an input for entering South Korea's Resident Registration Number
---

{% from "components/hanguk-jumin-deungnok-beonho-input/macro.njk" import hangukJuminDeungnokBeonhoInput %}

<h2>Default</h2>
<p>{{ hangukJuminDeungnokBeonhoInput({ text: "HangukJuminDeungnokBeonhoInput example", label: "HangukJuminDeungnokBeonhoInput example" }) }}</p>
