---
layout: layouts/component-demo.njk
title: IndonesiaNomorIndukKependudukanView
description: a read-only display of Indonesia's Nomor Induk Kependudukan (NIK)
---

{% from "components/indonesia-nomor-induk-kependudukan-view/macro.njk" import indonesiaNomorIndukKependudukanView %}

<h2>Default</h2>
<p>{{ indonesiaNomorIndukKependudukanView({ text: "IndonesiaNomorIndukKependudukanView example", label: "IndonesiaNomorIndukKependudukanView example" }) }}</p>
