---
layout: layouts/component-demo.njk
title: IndonesiaNomorIndukKependudukanInput
description: an input for entering Indonesia's Nomor Induk Kependudukan (NIK)
---

{% from "components/indonesia-nomor-induk-kependudukan-input/macro.njk" import indonesiaNomorIndukKependudukanInput %}

<h2>Default</h2>
<p>{{ indonesiaNomorIndukKependudukanInput({ text: "IndonesiaNomorIndukKependudukanInput example", label: "IndonesiaNomorIndukKependudukanInput example" }) }}</p>
