---
layout: layouts/component-demo.njk
title: MexicoClaveUnicaDeRegistroDePoblacionInput
description: an input for entering Mexico's Clave Unica de Registro de Poblacion (CURP)
---

{% from "components/mexico-clave-unica-de-registro-de-poblacion-input/macro.njk" import mexicoClaveUnicaDeRegistroDePoblacionInput %}

<h2>Default</h2>
<p>{{ mexicoClaveUnicaDeRegistroDePoblacionInput({ text: "MexicoClaveUnicaDeRegistroDePoblacionInput example", label: "MexicoClaveUnicaDeRegistroDePoblacionInput example" }) }}</p>
