---
layout: layouts/component-demo.njk
title: MexicoClaveUnicaDeRegistroDePoblacionView
description: a read-only display of Mexico's Clave Unica de Registro de Poblacion (CURP)
---

{% from "components/mexico-clave-unica-de-registro-de-poblacion-view/macro.njk" import mexicoClaveUnicaDeRegistroDePoblacionView %}

<h2>Default</h2>
<p>{{ mexicoClaveUnicaDeRegistroDePoblacionView({ text: "MexicoClaveUnicaDeRegistroDePoblacionView example", label: "MexicoClaveUnicaDeRegistroDePoblacionView example" }) }}</p>
