---
layout: layouts/component-demo.njk
title: MisrAlRaqmAlQawmiView
description: a read-only display of Egypt's National Number
---

{% from "components/misr-al-raqm-al-qawmi-view/macro.njk" import misrAlRaqmAlQawmiView %}

<h2>Default</h2>
<p>{{ misrAlRaqmAlQawmiView({ text: "MisrAlRaqmAlQawmiView example", label: "MisrAlRaqmAlQawmiView example" }) }}</p>
