---
layout: layouts/component-demo.njk
title: MisrAlRaqmAlQawmiInput
description: an input for entering Egypt's National Number
---

{% from "components/misr-al-raqm-al-qawmi-input/macro.njk" import misrAlRaqmAlQawmiInput %}

<h2>Default</h2>
<p>{{ misrAlRaqmAlQawmiInput({ text: "MisrAlRaqmAlQawmiInput example", label: "MisrAlRaqmAlQawmiInput example" }) }}</p>
