---
layout: layouts/component-demo.njk
title: NihonKojinBangoView
description: a read-only display of Japan's Individual Number (My Number)
---

{% from "components/nihon-kojin-bango-view/macro.njk" import nihonKojinBangoView %}

<h2>Default</h2>
<p>{{ nihonKojinBangoView({ text: "NihonKojinBangoView example", label: "NihonKojinBangoView example" }) }}</p>
