---
layout: layouts/component-demo.njk
title: Pagination List
description: an ordered list of pagination list items
---

<p>The <code>PaginationList</code> is an <code>&lt;ol&gt;</code>
  containing the pagination items. Use inside a
  <a href="/components/pagination-nav/"><code>PaginationNav</code></a>.
  See the <a href="/components/pagination-nav/">PaginationNav demo</a>
  for the composed example.</p>
