---
layout: layouts/component-demo.njk
title: Password Input with Show/Hide
description: a password input with a show/hide toggle
---

{% from "components/password-input-or-text-input-div/macro.njk" import passwordInputOrTextInputDiv %}

<p><label for="pw">Password</label></p>
{{ passwordInputOrTextInputDiv({ id: "pw", name: "password", label: "Password" }) }}
