---
layout: layouts/component-demo.njk
title: PhaseBanner
description: a banner indicating the phase of a service
---

{% from "components/phase-banner/macro.njk" import phaseBanner %}

<h2>Default</h2>
{{ phaseBanner({ text: "Example PhaseBanner content" }) }}

<h2>With accessible label</h2>
{{ phaseBanner({ text: "Example content", label: "PhaseBanner example" }) }}
