---
layout: layouts/component-demo.njk
title: PilipinasPhilhealthIdentificationNumberInput
description: an input for entering the Philippines' PhilHealth Identification Number (PIN)
---

{% from "components/pilipinas-philhealth-identification-number-input/macro.njk" import pilipinasPhilhealthIdentificationNumberInput %}

<h2>Default</h2>
<p>{{ pilipinasPhilhealthIdentificationNumberInput({ text: "PilipinasPhilhealthIdentificationNumberInput example", label: "PilipinasPhilhealthIdentificationNumberInput example" }) }}</p>
