---
layout: layouts/component-demo.njk
title: PrathetThaiLekPrajamTuaPrachachonView
description: a read-only display of Thailand's National Identification Number
---

{% from "components/prathet-thai-lek-prajam-tua-prachachon-view/macro.njk" import prathetThaiLekPrajamTuaPrachachonView %}

<h2>Default</h2>
<p>{{ prathetThaiLekPrajamTuaPrachachonView({ text: "PrathetThaiLekPrajamTuaPrachachonView example", label: "PrathetThaiLekPrajamTuaPrachachonView example" }) }}</p>
