---
layout: layouts/component-demo.njk
title: PrathetThaiLekPrajamTuaPrachachonInput
description: an input for entering Thailand's National Identification Number
---

{% from "components/prathet-thai-lek-prajam-tua-prachachon-input/macro.njk" import prathetThaiLekPrajamTuaPrachachonInput %}

<h2>Default</h2>
<p>{{ prathetThaiLekPrajamTuaPrachachonInput({ text: "PrathetThaiLekPrajamTuaPrachachonInput example", label: "PrathetThaiLekPrajamTuaPrachachonInput example" }) }}</p>
