---
layout: layouts/component-demo.njk
title: RelatedContent
description: an aside showing related content links
---

{% from "components/related-content/macro.njk" import LRelatedContent %}

<h2>Default</h2>
{{ LRelatedContent({ text: "Example RelatedContent content" }) }}

<h2>With accessible label</h2>
{{ LRelatedContent({ text: "Example content", label: "RelatedContent example" }) }}
