---
layout: layouts/component-demo.njk
title: RossiyaSnilsInput
description: an input for entering Russia's SNILS Individual Insurance Account Number
---

{% from "components/rossiya-snils-input/macro.njk" import rossiyaSnilsInput %}

<h2>Default</h2>
<p>{{ rossiyaSnilsInput({ text: "RossiyaSnilsInput example", label: "RossiyaSnilsInput example" }) }}</p>
