---
layout: layouts/component-demo.njk
title: Scroll Area
description: a scrollable container
---

{% from "components/scroll-area/macro.njk" import scrollArea %}

{% call scrollArea({ label: "Terms" }) %}
  <p>Paragraph 1</p><p>Paragraph 2</p><p>Paragraph 3</p>
  <p>Paragraph 4</p><p>Paragraph 5</p><p>Paragraph 6</p>
  <p>Paragraph 7</p><p>Paragraph 8</p>
{% endcall %}
