---
title: ScrollerBase
slug: scroller-base
component: ScrollerBase
description: a low-level scroll position tracking primitive for scrollytelling
layout: layouts/component-demo.njk
---

{% from "components/scroller-base/macro.njk" import scrollerBase %}

<h2>Default</h2>
{{ scrollerBase({ label: "Example" }) }}
