---
layout: layouts/component-demo.njk
title: SectionListItem
description: one item in a section list
---

{% from "components/section-list-item/macro.njk" import sectionListItem %}

<h2>Default</h2>
{{ sectionListItem({ text: "Example SectionListItem content" }) }}

<h2>With accessible label</h2>
{{ sectionListItem({ text: "Example content", label: "SectionListItem example" }) }}
