---
layout: layouts/component-demo.njk
title: SectionNav
description: a navigation container for section links
---

{% from "components/section-nav/macro.njk" import sectionNav %}

<h2>Default</h2>
{{ sectionNav({ text: "Example SectionNav content" }) }}

<h2>With accessible label</h2>
{{ sectionNav({ text: "Example content", label: "SectionNav example" }) }}
