---
layout: layouts/component-demo.njk
title: SectionList
description: an ordered list of section links
---

{% from "components/section-list/macro.njk" import sectionList %}

<h2>Default</h2>
{{ sectionList({ text: "Example SectionList content" }) }}

<h2>With accessible label</h2>
{{ sectionList({ text: "Example content", label: "SectionList example" }) }}
