---
layout: layouts/component-demo.njk
title: SectionLink
description: a navigation link to a section
---

{% from "components/section-link/macro.njk" import sectionLink %}

<h2>Default</h2>
{{ sectionLink({ text: "Example SectionLink content" }) }}

<h2>With accessible label</h2>
{{ sectionLink({ text: "Example content", label: "SectionLink example" }) }}
