---
layout: layouts/component-demo.njk
title: SharePage
description: a group of social sharing links
---

{% from "components/share-page/macro.njk" import sharePage %}

<h2>Default</h2>
{{ sharePage({ text: "Example SharePage content" }) }}

<h2>With accessible label</h2>
{{ sharePage({ text: "Example content", label: "SharePage example" }) }}
