---
layout: layouts/component-demo.njk
title: SouthAfricaIdentityNumberInput
description: an input for entering South Africa's Identity Number
---

{% from "components/south-africa-identity-number-input/macro.njk" import southAfricaIdentityNumberInput %}

<h2>Default</h2>
<p>{{ southAfricaIdentityNumberInput({ text: "SouthAfricaIdentityNumberInput example", label: "SouthAfricaIdentityNumberInput example" }) }}</p>
