---
layout: layouts/component-demo.njk
title: SouthAfricaIdentityNumberView
description: a read-only display of South Africa's Identity Number
---

{% from "components/south-africa-identity-number-view/macro.njk" import southAfricaIdentityNumberView %}

<h2>Default</h2>
<p>{{ southAfricaIdentityNumberView({ text: "SouthAfricaIdentityNumberView example", label: "SouthAfricaIdentityNumberView example" }) }}</p>
