---
layout: layouts/component-demo.njk
title: SuccessPanel
description: a panel confirming a successful action
---

{% from "components/success-panel/macro.njk" import successPanel %}

<h2>Default</h2>
{{ successPanel({ text: "Example SuccessPanel content" }) }}

<h2>With accessible label</h2>
{{ successPanel({ text: "Example content", label: "SuccessPanel example" }) }}
