---
layout: layouts/component-demo.njk
title: Task Bar Button
description: one item in a task bar
---

{% from "components/task-bar-button/macro.njk" import taskBarButton %}

<div class="task-bar" role="toolbar" aria-label="Demo">
  {{ taskBarButton({ text: "Action" }) }}
  {{ taskBarButton({ text: "Pressed", pressed: true }) }}
  {{ taskBarButton({ text: "Disabled", disabled: true }) }}
</div>
