---
layout: layouts/component-demo.njk
title: Text Input with Search
description: a single-line text input with a search button
---

{% from "components/text-input-with-search/macro.njk" import textInputWithSearch %}

<p><label for="q">Search</label></p>
{{ textInputWithSearch({ id: "q", name: "q", label: "Search", placeholder: "Search the NHS" }) }}
