---
layout: layouts/component-demo.njk
title: TimeoutDialog
description: a dialog warning about session timeout
---

{% from "components/timeout-dialog/macro.njk" import timeoutDialog %}

<h2>Default</h2>
{{ timeoutDialog({ text: "Example TimeoutDialog content" }) }}

<h2>With accessible label</h2>
{{ timeoutDialog({ text: "Example content", label: "TimeoutDialog example" }) }}
