---
layout: layouts/component-demo.njk
title: TurkiyeTcKimlikNumarasiInput
description: an input for entering Turkey's T.C. Kimlik Numarasi
---

{% from "components/turkiye-tc-kimlik-numarasi-input/macro.njk" import turkiyeTcKimlikNumarasiInput %}

<h2>Default</h2>
<p>{{ turkiyeTcKimlikNumarasiInput({ text: "TurkiyeTcKimlikNumarasiInput example", label: "TurkiyeTcKimlikNumarasiInput example" }) }}</p>
