---
layout: layouts/component-demo.njk
title: UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView
description: a read-only display of Ukraine's Taxpayer Registration Card Number (RNOKPP)
---

{% from "components/ukrayina-reyestratsiyniy-nomer-oblikovoyi-kartky-platnyka-podatkiv-view/macro.njk" import ukrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView %}

<h2>Default</h2>
<p>{{ ukrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView({ text: "UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView example", label: "UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView example" }) }}</p>
