---
layout: layouts/component-demo.njk
title: UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivInput
description: an input for entering Ukraine's Taxpayer Registration Card Number (RNOKPP)
---

{% from "components/ukrayina-reyestratsiyniy-nomer-oblikovoyi-kartky-platnyka-podatkiv-input/macro.njk" import ukrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivInput %}

<h2>Default</h2>
<p>{{ ukrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivInput({ text: "UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivInput example", label: "UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivInput example" }) }}</p>
