---
layout: layouts/component-demo.njk
title: YisraelTeudatZehutInput
description: an input for entering Israel's Teudat Zehut identity number
---

{% from "components/yisrael-teudat-zehut-input/macro.njk" import yisraelTeudatZehutInput %}

<h2>Default</h2>
<p>{{ yisraelTeudatZehutInput({ text: "YisraelTeudatZehutInput example", label: "YisraelTeudatZehutInput example" }) }}</p>
