---
layout: layouts/component-demo.njk
title: ZhongguoJuminShenfenzhengHaomaInput
description: an input for entering China's Resident Identity Card Number
---

{% from "components/zhongguo-jumin-shenfenzheng-haoma-input/macro.njk" import zhongguoJuminShenfenzhengHaomaInput %}

<h2>Default</h2>
<p>{{ zhongguoJuminShenfenzhengHaomaInput({ text: "ZhongguoJuminShenfenzhengHaomaInput example", label: "ZhongguoJuminShenfenzhengHaomaInput example" }) }}</p>
