---
layout: layouts/component-demo.njk
title: ZhongguoJuminShenfenzhengHaomaView
description: a read-only display of China's Resident Identity Card Number
---

{% from "components/zhongguo-jumin-shenfenzheng-haoma-view/macro.njk" import zhongguoJuminShenfenzhengHaomaView %}

<h2>Default</h2>
<p>{{ zhongguoJuminShenfenzhengHaomaView({ text: "ZhongguoJuminShenfenzhengHaomaView example", label: "ZhongguoJuminShenfenzhengHaomaView example" }) }}</p>
